DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
SUB_PROOF_CHANNEL_ID=1551744713688621126
FREE_ACCESS_ROLE_ID=1551747469455654963
FREE_PRODUCTS_CHANNEL_ID=1551745615761768569
OCR_SERVICE_URL=http://your-private-ocr-host:8000
OCR_SERVICE_SECRET=make-a-long-random-secret
